{% load static %}
<div class="well">
    <h1 style="font-family: 微軟正黑體; font-size: 25pt; font-weight: bold; text-align: center;">
        <img src="{% static "images/book.png" %}" width="93"> 
        {{ user.username }}的管理介面
        <input style="font-size: 12pt" type='button' value='登出' font-color='blue' onclick='location.href="/"'>
    </h1>
    <p>
        <marquee direction="left">
            <span style="font-family: 微軟正黑體; color: #787878; font-size: 20px;">
                管理者介面
            </span>
        </marquee>
    </p>
</div> 