{% load static %}
<div class="well">

    <h1 style="font-family: 微軟正黑體; font-size: 35pt; font-weight: bold; text-align: center;">
        <img src="{% static "images/book.png" %}" width="93"> 
        圖書館館藏查詢系統
        <input style="font-size: 12pt" type='button' value='使用者登入' onclick='location.href="/login/"'>
    </h1>

    <div class="ft">
        <div class="in">
        <script>
        function WebcatSearch(that) {
            var KeyWord = that.closest('div').find('#title1').val();
            window.open('https://book.tpml.edu.tw/search?searchInput=' + KeyWord + '&searchField=FullText', '_blank');
        }
        $(function() {
            $('.Webcat_SearchBtn').each(function() {
                $(this).click(function() {
                    WebcatSearch($(this));
                })
            });
            $('[data-search="WebcatSearch"]').on("keydown", function(event) {
                if (event.which == 13) {
                    WebcatSearch($('#giveID1'));
                    return false;
                }
            });
        });
       </script>
    </div>
    
    <p>
        <marquee direction="left">
            <span style="font-family: 微軟正黑體; color: #787878; font-size: 20px;">
                🕘開館日期：二~五 9:00~21:00 🕘六~日 9:00-17:00 ⏰固定休館日:每周一 📌公告：禁止在館內飲食、大聲喧嘩，自習室位置請至櫃台登記實名制座位 
            </span>
        </marquee>
    </p>
    
</div>
