{% extends "base.html" %}
{% block title %} 使用者註冊 {% endblock title %}
{% block headmessage %} 
<a style='font-family:標楷體; font-size: 19pt'> 使用者註冊 </a>
<input style="font-size: 10pt" type='button' value='返回登入' onclick='location.href="/login/"'>
{% endblock %}
{% block content %}
{% if message %}
    <div class='alert alert-warning'>{{ message }}</div>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <label for='user_id'>帳號：</label>
    <input id='user_id' type='text' name='user_id'>
    <br/>
    <label for='user_pass'>密碼：</label>
    <input id='user_pass' type='password' name='user_pass'>
    <br/>
    <label for='user_password_confirm'>確認密碼：</label>
    <input id='user_password_confirm' type='password' name='user_password_confirm'><br/>
    <br/>
    <input type='submit' value='註冊'>
    <input type='reset' value='清除重填'>
</form> 
<script>
    function go_delete(id){
        //var user_pass = document.getElementById('user_pass').value;
        //if (user_pass != "") {
        var usr = 'delpost/' + id;
        window.location = usr;
        //}
    }
</script>
{% endblock content %}